
body {
	font-family: sans-serif;
	font-style: Arial;
}

p {
	font-size: 13px;
	color: #666666;
}

section {
	float: left;
	width: 65%;
}

aside {
	background-color: #e5e5e5;
	float: right;
	width: 25%;
}

header {
	background-color: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav {
	background-color: #666666;
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px Arial;
	border-right: 2px solid #333333;
}

.top-menu li {
	display: inline-block;
	padding: 15px 25px 15px 25px;
	margin: 0;
}

.top-menu li.active {
	background: #666666;
	color: #fff;
}

.top-menu a {
	color: #fff;
}

span {
	color: #f28b24;
}

.leftimg {
	float: left;
	margin: 25px 15px 25px 0px;
	height: 20%;
	width: 20%;
}

.text {
	float: right;
	border-bottom: 1px solid #666666;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1 {
	color: #333333;
}

.sidebar {
	padding: 10px;
	margin-bottom: 320px;
}

.sidlinks {
	list-style-type: none;
	color: #f28b24;
	border-top: 1px solid #666666;
	text-align: left;
}

.sidlinks a {
	text-decoration: none;
	color: #f28b24;
}

.sidlinks li {
	margin: 15px 10px 15px -20px;
}

.sidlinks2 {
	border-top: 1px solid #666666;
	padding-top: 15px;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	font-family: sans-serif;
	font-style: Arial;
	font-size: 10px;
	background-color: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
}

